<div id="photo"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
    function photo(data) {
      var photoHTML = '<a href="'+data.recent+'" data-lightbox="y"><img src="'+data.recent+'" width="320"></a>';
      $('#photo').html(photoHTML);
    };
    $.getJSON("/live/recent.json?id="+Math.random(), photo);
});
</script>
