<div id="photo"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link href="https://ageha.jpnkn.com/assets/lity.min.css" rel="stylesheet">
<script src="https://ageha.jpnkn.com/assets/lity.min.js"></script>

<script>
$(document).ready(function() {
    function photo(data) {
      var photoHTML = '<a href="'+data.recent+'" data-lity><img src="'+data.recent+'" width="320"></a>';
      $('#photo').html(photoHTML);
    };
    $.getJSON("/live/recent.json?id="+Math.random(), photo);
});
</script>
